@tailwind base;
@tailwind components;
@tailwind utilities;

.card figure img{
  max-width: 50%;
  max-height: 50%;
}

.menu{
  top: 112px;
  flex-wrap: nowrap;
}

@media (max-width: 480px) {
  .item_list[data-scroll=true] {
    grid-template-columns: repeat(auto-fill,minmax(220px,1fr));
    grid-auto-columns: minmax(220px,1fr);
  }
}
@media (max-width: 480px) {
  .modal {
    align-items: flex-end;
  }
  .modal-box {
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    --tw-translate-y: 2.5rem;
  }
}

@media (max-width: 767px){
  .item_list[data-scroll=true] {
      grid-template-columns: repeat(auto-fill,minmax(320px,1fr));
      grid-auto-flow: column;
      grid-auto-columns: minmax(320px,1fr);
      overflow-x: auto;
  }
}